.beeg-header{
    font-size: 8vw;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(227, 70, 70),rgb(244, 185, 75),rgb(240, 240, 160),rgb(103, 207, 103),rgb(118, 118, 251),rgb(198, 95, 250),rgb(247, 115, 247)); 
    color: #000000;
    font-size: 2vw;
  }

.img-box{
    border-radius: 3px;
    border: #aaa;
}
  
  .navbar {
    overflow: hidden;
    background-color: #aaa;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0aa;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }