body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: linear-gradient(to right, rgba(227, 70, 70, 0.636),rgba(244, 185, 75, 0.687),rgb(240, 240, 160),rgb(103, 207, 103),rgb(118, 118, 251),rgb(198, 95, 250),rgb(247, 115, 247));  */
    background: #f5b0c1;
    color: #333;
    font-size: 2vw;
    text-align: center;
  }
  @media only screen and (max-width: 1000px) {
    body {
      font-size: 3vw;
    }
  }
  @media only screen and (max-width: 700px) {
    body {
      font-size: 4vw;
    }
  }

.beeg-header{
    font-size: 8vw;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top:0;
    margin-bottom:10px;
}

.rant-box{
  width: 90%;
  display:inline-block;
}

.about-team-box{
  width:75%;
  display:inline-block;
}

.img-box{
    border-radius: 3px;
    border: #e28df3;
    width: 10%;
    height: 10%;
    display: inline;
    margin: 3px;
}
.logo-box{
  border-style: solid;
  border-radius: 30px;
  border-width: 5px;
  border-color: #e28df3;
  width: 5%;
  height: 5%;
  display: inline;
}
  
  .navbar {
    overflow: hidden;
    background-color: #e0708c;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  @media only screen and (max-width: 700px) {
    .navbar a {
      padding: 14px 4px;
    }
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .title-bar {
    /* background-image: linear-gradient(to right, rgb(227, 70, 70),rgb(244, 185, 75),rgb(240, 240, 160),rgb(103, 207, 103),rgb(118, 118, 251),rgb(198, 95, 250),rgb(247, 115, 247));  */
      background-image: url("./img/Rainbow_background_for_website.jpg");
      background-size: 100% 100%;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #c4274f;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* .contact-form{
    font-size: 1.75vw;
  }
  .radio-pretty{
    font-size: 1vw;
  } */